{% extends 'base/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ item.image.url }}" class="rounded-t-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <a href="{% url 'posts:writer' item.id %}" class="text-gray-500" target="_blank">
            <strong>Author: </strong>{{ item.created_by.username }}
        </a>
        {% comment %} <p class="text-gray-500"><strong>Author: </strong>{{ item.created_by.username }}</p> {% endcomment %}

        {% if item.description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">Description:</strong><br>
                {{ item.description }}
            </p>
        {% endif %}

        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>This is your item!</p>

                <a href="{% url 'posts:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'posts:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
            </div>
        {% endif %}        

        <p class="mt-4 text-gray-500"><strong>Created At:</strong> {{ item.created_at }}</p>
    </div>
</div>
{% endblock %}